<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    {% block head_style %}
    <link href="{{ app.request.basepath }}/css/style.css" type="text/css" rel="stylesheet" media="screen" />
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    <script src="{{ app.request.basepath }}/javascript/functions.js" type="text/javascript"></script>
    {% endblock head_script %}

    <title>{% block title %}Pipa Store{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" />

    {% block head_bottom %}
    {% endblock head_bottom %}
</head>

</head>
<body>
{% block body_start %}
{% endblock body_start %}

{% block body %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>