{% extends "utils/base.twig" %}

{% block body %}
    {% block topbar %}
        <div id="topbar">
            <div id="title">{{ block('title') }}</div>
        </div>
    {% endblock %}

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        {{ app.style.footer|raw }}
    {% endblock %}
    </div>
{% endblock %}
