{% extends "/utils/layout.twig" %}

{% block title %}
Liste des applications
{% endblock %}

{% block content %}

<ul class="pageitem">
    {% for app in applications %}
    <li class="menu">
        <a href="{{ path('application', { id: app.id }) }}"><span class="name">{{ app.name }}</span></a>
    </li>
    {% endfor %}
</ul>

{% endblock %}