{% extends "/utils/layout.twig" %}

{% block title %}
{{ application.name }}
{% endblock %}

{% block content %}
<span class="graytitle">Téléchargement iPhone</span>
<ul class="pageitem">
    {% for ipa in ipas %}
        <li class="menu">
            <a href="itms-services://?action=download-manifest&url={{ url('plist', { id: application.id, version: ipa.version }) }}">
                <img alt="popup" src="{{ app.app_url }}/{{ application.id }}/image/icon.png" />
                <span class="name">version {{ ipa.version }}</span>
            </a>
        </li>
    {% else %}
        <li class="menu">
            <span class="name">Pas d'application</span>
        </li>
    {% endfor %}
</ul>

<span class="graytitle">Téléchargement Android</span>
<ul class="pageitem">
    {% for apk in apks %}
        <li class="menu">
            <a href="{{ path('dl_file', { key: apk.key }) }}">
                <img alt="popup" src="{{ app.app_url }}/{{ application.id }}/image/icon.png" />
                <span class="name">version {{ apk.version }}</span>
            </a>
        </li>
    {% else %}
        <li class="menu">
            <span class="name">Pas d'application</span>
        </li>
    {% endfor %}
</ul>

<br/>
<img class="centered" src="{{ app.app_url }}/{{ application.id }}/image/thumb.png" align="middle"/>

{% endblock %}